<!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 400px; width: 600px; }
  </style>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLU9V1MBV1CNKSRyvta37AAHw3hozcAv0&sensor=false">
  </script>

  <script type="text/javascript">
    function initialize( data ) {
      var myLatlng = new google.maps.LatLng(data.zip.lat, data.zip.lng);
      var mapOptions = {
        zoom: 10,
        center: new google.maps.LatLng( data.zip.lat, data.zip.lng ),
        disableDefaultUI: true,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

      // This is the customer zip code, will have a special marker
      var image = '/static/icon1.png';
      var marker = new google.maps.Marker({
          position: new google.maps.LatLng( data.zip.lat, data.zip.lng ),
          map: map,
          title: data.zip.zipcode,
          icon: image
      });

      $.each( data.counseling_agencies, function( ndx, val ) {
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(val.lat, val.lng),
          map: map,
          title: val.name,
        });
      });
    }

    function show_map() {
      $.ajax({
        // This will be changed to the API address
        url: 'http://127.0.0.1:8000/hud-api-replace/22030/',
      }).done( function( data ) {
        if ( !data.error ) {
          initialize( $.parseJSON( data ))
        }
      });
    }

    google.maps.event.addDomListener(window, 'load', show_map);
  </script>
</head>
<body>
  <p> Before canvas </p>
  <div id="map-canvas"/>
  <p> After canvas </p>
</body>
</html>
